{% extends "core/base.html" %}

{% block title %}Log in| {% endblock %}

{% block content %}
<div class='p-10 lg:p-20 text-center'>
    <h1 class='lg:text-6xl font-bold'>Log in</h1>
</div>
<form method="POST" action='/' class='lg:w-1/4 px-4 mx-auto'>
    {% csrf_token %}
    <div class="mb-5 mt-0">
    <label class="text-black">Username</label>

    <input type="text" name="username" class='w-full mt-2 px-4 rounded-xl'>
    </div>

    <div class="mb-5">
    <label class="text-black">Password</label>
    
    <input type="password" name="password" class='w-full mt-2 px-4 rounded-xl'>
    </div>

    

    {% if form.erros %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="mb-5 p-4 rounded-xl bg-red-300 text-black">
                <p>{{ error | escape  }}</p>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    
    <button class= ' hover:bg-pink-900 bg-pink-500 text-black px-4 py-2 rounded-xl'>Log in</button>
</form>
{% endblock%}